body {
    background-color: beige;
    color: black;
    font-family: sans-serif;
    padding: 50px;
    margin: 20px;
    line-height: 2;
}

h1 {
    font-size: 60px;
    margin: 20px;
}

a:link {
    text-decoration: none;
    color: darkslategray;
    text-decoration: underline;
}

a:visited {
    color: darkgray;
}

p {
    text-align: center;
}